.notificationsettings {
  position: absolute;
  width: 600px;
  background-color: #fff;
  padding: 10px;
  box-shadow: var(--light-shadow);
  border-radius: 10px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
  z-index: 100;
  top: -150px
}
.notificationsettings + .sidebar, .notificationsettings + .sidebar + .routes{
  filter: brightness(60%)
}
.notificationsettings-enter-done {
  opacity: 1;
  top: 3%
}
.notificationsettings h2 {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px
}
.notificationsettings button i {
  
}
.special .fa-times{
  position: absolute;
  right: 10px;
  top: 15px
}