.box .filteritem{
  width: 100px;
  height: 100px;
  transition: all 0.3s;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  color: var(--theme-color);
  cursor: pointer
}
.box .filteritem span {
  align-self: flex-end;
}
.box .filteritem i {
  color:var(--theme-color)
}
.filteritem:active {
  transform: scale(0.95)
}
.filteritem:hover, .filteritem.included {
  background-color: var(--theme-color);
  color: #fff;
}
.filteritem:hover i, .filteritem.included i {
  color: #fff
} 
.filteritem i {
  margin-right: 5px
}